<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/saanv/IdeaProjects/APIautomationRestAssured">
    <classes>
        <class name="org.testcompany.RestAssuredTestNGExample">
            <methods><include name="getRequest"/>
            </methods>
        </class>
    </classes>
</test></suite>

